// content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100' width='100'><circle cx='50' cy='50' r='40' stroke='black' stroke-width='3' fill='red' /></svg>");

.icon {
  width: 22.5px;
  background-size: 22.5px 22.5px;
  height: auto;
  display: block;

  &-trend:before{
    content: url('/images/icons/trend.svg');
  }
  &-pie:before{
    content: url('/images/icons/pie.svg');
  }
  &-power:before{
    content: url('/images/icons/power.svg');
  }
  &-plus:before{
    content: url('/images/icons/plus.svg');
  }
  &-close:before{
    content: url('/images/icons/close.svg');
  }
}
