@import '../../../../styles/_variables';

/**
* Block Footer
*/
.block-footer {
  display: flex;
  height: 441px;
  background-color: $color-black;
  justify-content: center;
  padding-bottom: 56px;

  .footer {
    &-wrapper {
      width: 1099px;
      padding-top: 66px;
      display: flex;
      justify-content: center;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 60%;
      p {
        max-width: 515px;
      }
      .copyright-text {
        font-size: $font-size-14;
      }
    }
    &-menu, &-social {
      width: 20%;
      ul {
        padding-left: 0px;
        li {
          list-style: none;
          padding: $spacing-unit-14;

          a {
            color: $color-white;
            opacity: 0.4;
            font-weight: 600;
            font-size: $font-size-16;
            text-decoration: none;

            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
