@import '../../../styles/_variables';
@import '../../../styles/_mixins';
@import '../../../styles/vendor/typed';

/**
* Mobile: Our Products
*/
.block-products {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $color-white;
  min-height: 250px;

  .product {
    &-card {
      display: flex;
      flex-direction: column;
      min-height: 250px;
      border-radius: 32px;
      margin-bottom: 16px;

      &-top-label {
        text-align: center;
        color: $color-blue-9;
      }

      &-head{
        height: 30%;
        h3 {
          font-size: 55px;
          text-align: center;
        }
      }
      &-body{
        height: 60%;
        padding: 0 20px 0 20px;
      }
      &-foot{
        height: 10%;
        text-align: center;
        padding: 20px;
      }
    }
  }
}

/**
* Mobile: Block Blog
*/
.block-blog {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $color-black;

  .blog {
    &-card {
      display: flex;
      flex-direction: column;
      height: 404px;
      border-radius: 32px;
      background-color: $color-white;
      margin-bottom: 16px;

      &-head{
        height: 60%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
      }
      &-body{
        height: 30%;
        padding: 0 20px 0 20px;

        h3 {
          font-size: 24px;
        }
      }
      &-foot{
        height: 10%;
        text-align: center;
        padding: 20px;
      }
    }
  }
}

/**
* Mobile: Block Big Image
*/
.block-bigimage-mobile {
  background-repeat: no-repeat;
  background-size: cover;
  height: 838px;
  display: block;
  background-position: bottom;
}
