@import '../../../styles/_variables';
@import '../../../styles/_mixins';
@import '../../../styles/vendor/typed';
/**
* Block Hero
*/

.block-hero {
  background-color: $color-white;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  max-width: 1190px;
  margin: 0 auto;
  // overflow: hidden;

  .hero-image {
    background-image: url('/images/banner-bg-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    width: 50%;
    height: inherit;
    //
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .hero-text {
    .hero-title {
      max-width: 873px;
    }
    .hero-slogan {
      max-width: 682px;
    }
  }

  @include respond-to('md') {
    flex-direction: column;
    background-color: $color-black;
    width: 100%;
    height: auto;

    .hero-image {
      background-image: url('/images/banner-bg.png');
      height: 390px;
      width: 100%;
      order: 1;
    }
    .hero-text {
      order: 0;
    }
  }
  .hero-anime-text {
    pointer-events: none;
    @include typed(
      "современный бизнес",
      "автоматизацию и продуктивность",
      1.5,
      (
        caret-width: 5px,
        caret-space: 3px,
        caret-color: $color-blue-6
      )
    );
  }
}


/**
* Desktop: Block Advantages
*/
.block-advantages {
  height: 790px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 59px;

  p {
    max-width: 1224px;
  }
  .card-adv {
    width: 358px;
    padding: 25px;
    background-repeat: no-repeat;
    background-position: center;

    .card-title {
      font-size: 24px;
      font-weight: $font-weight-bold;
    }

    &:nth-child(1) {
      height: 515px;
      background-size: 173px auto;
    }
    &:nth-child(2) {
      height: 547px;
      margin-top: -18px;
      background-size: cover;
    }
    &:nth-child(3) {
      height: 515px;
      background-size: 241px auto;
    }
  }

}

/**
* Desktop: Block Economy
*/
.block-economy {
  height: 679px;
  display: flex;
  justify-content: center;
  padding-top: 106px;

  .wrapper {
    max-width: 887px;
    .eco-arrow {
      margin-bottom: 18px;
      img {
        width: 108px;
      }
    }
    .price-table {
      top: 60%;
      transform: translateY(-50%);
      tr {
        td {
          &:nth-child(1) {
            width: 50%;
          }
        }
      }
    }
    .eco-col:nth-child(1) {
      width: 33.3%;
      .card {
        padding-top: 30px;
      }
      p {
        line-height: 25px;
      }
    }
    .eco-col:nth-child(2) {
      width: 66.6%;
    }
    .card {
      height: 280px;
      width: 275px;
      border-radius: 20px;
    }
  }
}

/**
* Desktop: Block Infolist
*/
.block-infolist {
  height: 869px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/**
* Desktop: How To Working
*/
.block-how2working {
  height: 846px;
  padding-top: 114px;
  .work-item {
    width: 313.5px;
    .card {
      border-radius: 25px;
      width: 100%;
      height: 240px;
      background-repeat: no-repeat;
    }
    h2 {
      font-size: 45px;
    }
    &:nth-child(1) {
      .card {
        background-size: 265px auto;
        background-position: 55px 51px;
      }
    }
    &:nth-child(2) {
      .card {
        background-size: auto 210px;
        background-position: center;
      }
    }
    &:nth-child(3) {
      .card {
        background-size: 265px auto;
        background-position: 55px 51px;
      }
    }
    &:nth-child(4) {
      .card {
        background-size: auto 180px;
        background-position: center;
      }
    }
  }
}

/**
* Desktop: Block Big Image
*/
.block-bigimage {
  background-repeat: no-repeat;
  background-size: cover;
  height: 838px;
  display: block;
}


/**
* Desktop: Block Price
*/
.block-price {
  height: 789px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  justify-content: center;

  .price-card {
    width: 403px;
    border-radius: 25px;
    overflow:hidden;

    .head {
      height: 242px;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: flex;

      h2 {
        font-size: 35px;
      }
      .text-discount {
        color: $color-gray-5;
        font-size: 27px;
      }
    }
    .content {
      padding: 17px;

      ul {
        padding-left: 0px;
        list-style: none;
      }
    }
    .foot {
      padding: 17px;
    }
  }
}


