<!-- Univeral: Block Advantages -->
<div class="block-hero">
  <div class="hero-image px-1">
    <p class="text-white text-center">
      <i class="icon-pie"></i> Искусственный Интеллект
    </p>
  </div>
  <div class="hero-text px-1">
    <h2 class="hero-title title-medium">
      <span class="font-family__permanent text-blue">Prof</span>
      <span class="text-black">depo.</span>
      <span class="font-family__permanent text-blue">HR</span>
    </h2>
    <h1 class="title-big-50">
      Забудь о проблеме подбора и найма сотрудников
    </h1>
    <div class="hero-slogan">
      <p class="text-description__gray">
        Интеллектуальный подбор, тестирование и оценка кадров. PROFDEPO HR повышает эффективность, точность и скорость работы с персоналом.
      </p>
      <br />
      <a href="#" class="btn__black-small">
        Начать
      </a>
    </div>
    <!-- <h2 class="hero-title title-medium hide-from-md">
      <span class="font-family__permanent text-blue">Pro</span>&nbsp;
      <span class="text-white hero-anime-text"></span>
    </h2>
    <div class="hero-slogan hide-from-md">
      <p class="text-description__gray">
        Рабочие инструменты для современного бизнеса. Увеличиваем эффективность специалистов, позволяя зарабатывать больше.
      </p>
      <br />
      <a href="#" class="btn-primary__white-big">
        Наши
        <span class="font-family__permanent text-blue">Pro</span>
        <span class="text-black">дукты</span>
      </a>
    </div> -->
  </div>
</div>

<!-- Desktop: Block Advantages -->
<div class="block-advantages d-flex align-center bg-white">
  <p class="title-medium text-center text-black">
    Это не магия, это решение созданное используя передовые технологии и многолетний опыт. Узнайте,
    как наш продукт —
    <span class="font-family__permanent text-blue">Prof</span>
    <span class="text-black">depo.</span>
    <span class="font-family__permanent text-blue">HR</span>
    трансформирует ваши HR процессы.
  </p>
  <div class="wrapper d-flex justify-center">
    <div class="card-adv d-flex flex-column justify-between border-1 bg-black" style="background-image: url('/images/bg-battery.png')">
      <div>
        <i class="icon-trend"></i>
        <p class="text-white card-title">Увеличение продуктивности</p>
      </div>
      <div class="text-description__white">
        Автоматизация рутинных задач позволяет руководителям и HR-специалистам сосредоточиться на важном.
      </div>
    </div>
    <div class="card-adv d-flex flex-column justify-between border-1 mx-1 bg-black" style="background-image: url('/images/bg-girl-21.png')">
      <div>
        <i class="icon-pie"></i>
        <p class="text-white card-title">Человек + ИИ</p>
      </div>
      <div class="text-description__white">
        Автоматизация рутинных задач позволяет руководителям и HR-специалистам сосредоточиться на важном.
      </div>
    </div>
    <div class="card-adv d-flex flex-column justify-between border-1 bg-black" style="background-image: url('/images/bg-rocket.png')">
      <div>
        <i class="icon-power"></i>
        <p class="text-white card-title">Точность и Развитие </p>
      </div>
      <div class="text-description__white">
        ИИ находит совпадения и дает предложения, человек проводит финальную оценку. PROFDEPO HR  учится на опыте, постоянно повышая эффективность и точность решений.
      </div>
    </div>
  </div>
</div>

<!-- Desktop: Block Economy -->
<div class="block-economy bg-black">
  <div class="wrapper d-flex flex-column justify-center text-white">
    <div class="d-flex flex-row">
      <div class="eco-col mr-1">
        <h2 class="title-big-58">Экономь ресурсы и время</h2>
      </div>
      <div class="eco-col d-flex flex-column justify-end align-center eco-arrow">
        <img src="images/arc-arrow-left.svg"/>
      </div>
    </div>
    <div class="d-flex flex-row position-relative">
      <div class="eco-col mr-1">
        <!-- <table class="position-absolute w-100 price-table">
          <tr>
            <td>Затраты на подбор</td>
            <td class="title-medium-22 py-1">60 000 ₽</td>
            <td class="title-medium-22 py-1">120 000 ₽</td>
          </tr>
          <tr>
            <td>Потери при увольнении</td>
            <td class="title-medium-22 py-1">150 000 ₽</td>
            <td class="title-medium-22 py-1">300 000 ₽</td>
          </tr>
          <tr>
            <td>Текучесть кадров</td>
            <td class="title-medium-22 py-1">10%</td>
            <td class="title-medium-22 py-1">25%</td>
          </tr>
          <tr>
            <td>Время закрытия вакансии</td>
            <td class="title-medium-22 py-1">15 дней</td>
            <td class="title-medium-22 py-1">30 дней</td>
          </tr>
        </table> -->
        <!-- <ul class="list-none">
          <li class="pt-1">Затраты на подбор </li>
          <li class="pt-1">Потери при увольнении</li>
          <li class="pt-1">Текучесть кадров</li>
          <li class="pt-1">Время закрытия вакансии</li>
        </ul> -->
        <div class="card pt-1">
          <h3>&nbsp;</h3>
          <p>Затраты на подбор</p>
          <p>Потери при увольнении</p>
          <p>Текучесть кадров</p>
          <p>Время закрытия вакансии</p>
        </div>
      </div>
      <div class="eco-col d-flex flex-column">
        <div class="d-flex flex-row">
          <div class="card text-center pt-1 bg-gray-6">
            <h3>
              Человек +
              <span class="font-family__permanent text-blue">Prof</span>
              <span class="text-white">depo.</span>
              <span class="font-family__permanent text-blue">HR</span>
            </h3>
            <div class="title-medium-22">
              <p>60 000 ₽</p>
              <p>150 000 ₽</p>
              <p>10%</p>
              <p>15 дней</p>
            </div>
          </div>
          <div class="card text-center pt-1 bg-gray-9 ml-1">
            <h3 class="text-center">Человек</h3>
            <div class="title-medium-22">
              <p>120 000 ₽</p>
              <p>300 000 ₽</p>
              <p>25%</p>
              <p>30 дней</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Desktop: Block Infolist -->
<div class="block-infolist bg-white">
  <h1 class="title-big text-center">
    <span class="font-family__permanent text-blue">Prof</span>
    <span class="text-black">depo.</span>
    <span class="font-family__permanent text-blue">HR</span>
  </h1>
  <app-accordion></app-accordion>
  <a class="btn__black-small mt-1">Начать</a>
</div>

<!-- Desktop: How To Working -->
<div class="block-how2working bg-black">
  <h1 class="title-big text-white text-center">Как это работает</h1>
  <div class="wrapper d-flex justify-center">
    <!--Card 1-->
    <div class="work-item mr-1 text-center">
      <div class="card bg-gray-6" style="background-image: url('/images/h2t-1.png')">
      </div>
      <h2 class="font-family__permanent text-blue">1</h2>
      <p class="text-white">Создайте вакансию и анкету для кандидатов</p>
    </div>
    <!--Card 2-->
    <div class="work-item mr-1 text-center">
      <div class="card bg-gray-7" style="background-image: url('/images/h2t-2.png')">
      </div>
      <h2 class="font-family__permanent text-blue">2</h2>
      <p class="text-white">Поделитесь ссылкой на анкетус кандидатом любым удобным способом</p>
    </div>
    <!--Card 3-->
    <div class="work-item mr-1 text-center">
      <div class="card bg-gray-8" style="background-image: url('/images/h2t-3.png')">
      </div>
      <h2 class="font-family__permanent text-blue">3</h2>
      <p class="text-white">Kандидат переходит по ссылке для заполнения анкеты и тестирования</p>
    </div>
    <!--Card 4-->
    <div class="work-item mr-1 text-center">
      <div class="card bg-gray-6" style="background-image: url('/images/h2t-4.png')">
      </div>
      <h2 class="font-family__permanent text-blue">4</h2>
      <p class="text-white">Отслеживайте результаты аналитики анкет от ИИ в личном кабинете</p>
    </div>
  </div>
</div>

<!-- Desktop: Block Big Image -->
<div class="block-bigimage" style="background-image: url('/images/girl-bg.png')"></div>

<!-- Univeral: Block Price -->
<div class="block-price">
  <h1 class="title-big text-black text-center">Стоимость</h1>
  <p class="text-description__gray text-center">
    Используйте Profdepo.hr во всю мощь и без ограничений. На любом тарифе действует:
  </p>
  <div class="d-flex flex-row justify-center">
    <!--Card 1-->
    <div class="price-card bg-white">
      <div class="head text-center" style="background-image: url('/images/price-card-bg-1.png')">
        <h2 class="text-white">10000₽/мес.</h2>
      </div>
      <div class="content">
        <ul>
          <li>Безлимитное количество вакансий </li>
          <li>Неограниченное количество откликов</li>
        </ul>
      </div>
      <div class="foot text-center">
        <a class="btn__black-small">Начать</a>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="price-card mx-1 bg-black">
      <div class="head text-center" style="background-image: url('/images/price-card-bg-2.png')">
        <h2 class="text-white">51000₽/6 мес.</h2>
        <span class="font-family__permanent text-discount">(-15%)</span>
      </div>
      <div class="content text-white">
        <ul>
          <li>Безлимитное количество вакансий</li>
          <li>Неограниченное количество откликов</li>
        </ul>
      </div>
      <div class="foot text-center">
        <a class="btn__white-small">Начать</a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="price-card bg-white">
      <div class="head text-center" style="background-image: url('/images/price-card-bg-3.png')">
        <h2 class="text-white">96000 ₽/12 мес.</h2>
        <span class="font-family__permanent text-discount">(-20%)</span>
      </div>
      <div class="content">
        <ul>
          <li>Безлимитное количество вакансий </li>
          <li>Неограниченное количество откликов</li>
        </ul>
      </div>
      <div class="foot text-center">
        <a class="btn__black-small">Начать</a>
      </div>
    </div>
  </div>
</div>

