<nav class="top-nav">
  <div class="main-menu">
    <div class="top-logo">
      <img src="images/logo.svg" />
    </div>
    <ul>
      <li class="menu-item">
        <a routerLink="/home" routerLinkActive="active">Главная</a>
      </li>
      <li class="menu-item">
        <a routerLink="/products" routerLinkActive="active">Продукты</a>
      </li>
      <li class="menu-item">
        <a routerLink="/about" routerLinkActive="active">О нас</a>
      </li>
      <li class="menu-item">
        <a routerLink="/blog" routerLinkActive="active">Блог</a>
      </li>
    </ul>
  </div>
  <div class="auth-menu">
    <a href="#" class="btn-link__white-big">Войти</a> <button class="btn-primary__white-big">Зарегистрироваться</button>
  </div>
</nav>
